/* App styles */

.container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.spacer--big {
  margin-bottom: 20vw;
}

.spacer--small {
  margin-bottom: 12px;
}

.query-input {
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  border-size: 1px;
  border-color: grey;
  width: 100%;
}

.results-list {

}

.results-list__element {
  margin-bottom: 8px;
}


@media only screen and (min-width: 768px){
  .container {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .spacer--big {
    margin-bottom: 20vw;
  }

  .spacer--small {
    margin-bottom: 24px;
  }
}
