/* App styles */

:root {
  --spacer-small: 12px;
  --spacer-large: 24px;
  --input-height: 32px;
  --input-border-radius: 8px;
  --input-border-padding: 8px;
  --input-border-width: 1px;
  --input-border-color: grey;
  --results-list-element-stack: 8px;
}

.spacer--small {
  margin-bottom: var(--spacer-small);
}

.query-input {
  height: var(--input-height);
  padding: var(--input-border-padding);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  width: 100%;
}

.results-list__element {
  margin-bottom: var(--results-list-element-stack);
}

@media only screen and (min-width: 768px){
  .spacer--small {
    margin-bottom: var(--spacer-large);
  }
}
